@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cagliostro&display=swap');

*{
    margin: 0;
    padding: 0;
}

body
{
    background: url(https://wallpaperaccess.com/full/2435550.png);
    padding: 200px;
    text-align: center;
    font-family: 'Cagliostro', sans-serif;
}

h1
{
    font-family: 'Press Start 2P', cursive;
    color: #2A324B;
    font-size: 60px;
    font-weight: 900;
}

h3
{
    position: absolute;
    left: 700px;
    top: 350px;
    background-color: #F6E9E9;
    color: black;
    width: 500px;
    height: 24px;
}

.block
{
    text-align: center;
}

canvas
{
    display: block;
    background-color: #F6E9E9;
    margin: 100px;
}

input
{
    margin: 20px 0px 0px 20px;
}